/*Параметры страницы*/
body{

    background-color:lightgray;
    font-family: 'Roboto', sans-serif;
     margin: 0;

}

h1,h2,h3,h4,h5,h6{

    margin: 0;
}
p{
    font-weight: 100;
    margin: 0;
    font-size: 18px;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
/*Основной блок*/

.intro{
    width: 100%;
    height: 50vh;
    background: url(../img/bg.jpg);
    background-size: cover;
    padding: 0;
    margin: -15vh 0 ;

}
/*Навигация*/
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    font-weight: 700;
    z-index: 100;
    width: 100%;
    background-color: white;
}
/*Блок и оформелиние текста AnimeParty*/
.logo{
    font-size: 15px ;
    font-family: 'Kaushan Script', cursive;
    color: black;

}
/*Блок кнопок навигации*/
.nav{
    display: flex;
    font-size: 8px ;

}
/*Кнопки навигации */
.navblock{
margin: auto 20px;
font-size: 15px;
    position: relative;
    transition: color .2s linear;


}
.navlink:after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color:  #00BFFF;
    position: absolute;
    opacity: 0;
    transition: opacity .2s linear;


}
.navlink:hover{
    color: #00BFFF;

}
.navlink:hover:after{
    opacity: 1;

}
.navlink{
    text-decoration: none;
    color: black;
}
/*Основа блока*/
.main{
    width: 100%;
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;

    border-radius: 5px;
}
.maintext{
    text-align: center;

    margin: 20px auto;

     }

.title{
    margin: 10px auto;
    color: #00BFFF;
    text-transform: uppercase;
}
.subtitle{
    color: #333;

}
.subtitle:after{
    display: block;
    content: '';
    height: 3px;
    background-color:#00BFFF;
    widows: 100%;
    margin: 20px 40%;

}
/*Информационый блок*/
.festinf{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.festinfblock{
    display: flex;
    justify-content: space-between;


}
.festinftxt{
    display: block;
    padding: 5px 5px;
    width="48";
    height="48";

}
.inf{
    margin: 40px 20px;

}
.infimg{
    text-align: center;

    margin: 0 20px;
}
.inftxt{

    max-height: 100%;
    width: 70%;
    margin: 15px auto;

}
.btn{
    display: inline-block;
    border:2px solid #00BFFF ;
    vertical-align: top;
    padding: 10px 15px;
    background-color: #00BFFF;
    color: white;
    text-decoration: none;
    transition: opacity 0.2s linear;
}
.btn:hover{
    opacity: 0.5;
}
.buttons{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}
.titletext{
    color:#00BFFF;
    font-family: 'Roboto', sans-serif;
}
.ticket{

    margin: 30px auto;

}
.input{

    padding: 10px 50px 10px 8px;
    text-align: left;
    outline:none;
    border: none ;
    border: 2px solid #00BFFF;
    border-radius: 5px;
    color: #222;
    margin: 10px auto;
    opacity: 0.4;
    font-size: 20px;


}

input::-webkit-input-placeholder{
    color:  #333;

}
.inputinf{
margin: 10px 0;
    max-width: 40%;
    max-height: 100%;
}
.inputtable{
    margin: 0 30px;
}
.inputbtn{
    display: inline-block;
    border:2px solid #00BFFF ;
    vertical-align: top;
    padding: 3px 15px;
    background-color: #00BFFF;
    color: white;
    text-decoration: none;
    transition: opacity 0.2s linear;
    margin: 10px 0;
    border-radius: 5px;
}
.lastevent{

    text-align: center;

}
.lasteventinf{
    margin: 0 40px;
    width: 40%;
}
.ourteam{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 100px 0;

}
.person{
    font-weight: 100;
    margin:50px 30px;
    text-align: center;
}
.twntyksitegroup{
    font-size: 12px;
    text-align: center;
}

